<br>
<div class="container">
	
	<div class="row">
		<div class="col-sm-6">
			<h3>Welcome to HealthLive!</h3><hr>
			<h5>{{todayString | amDateFormat: 'dddd, MMMM Do'}}</h5>
			<b>{{"Name: " + $root.user.first_name + " " + $root.user.last_name}}</b><br>
			<b>{{"Email: " + $root.user.email}}</b>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-info">
			  <div class="panel-heading">
			    <div class="panel-title">
					<h5  style="color:white; margin:0px;">Diet<span class="pull-right fa fa-cutlery"></span></h5>
				</div>
			  </div>
			  <div class="panel-body">
				 <p class="text-center"><b>Calories Consumed Per Day</b></p>
				<canvas id="bar" class="chart chart-bar"
				  chart-data="dietdata" chart-labels="dietlabels" chart-colours="dietcolours">
				</canvas>
				
				<br>
				<a type="button" ui-sref="diet" class="btn btn-info pull-right">
					Enter <span class="fa fa-arrow-right"></span>
				</a>
			  </div>
			</div>
		</div>
		
	</div> <!--row-->
	
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-success">
			  <div class="panel-heading">
  			    <div class="panel-title">
  					<h5  style="color:white; margin:0px;">Exercise<span class="pull-right fa fa-bicycle"></span></h5>
  				</div>
  			  </div>
			  <div class="panel-body">
				 <p class="text-center"><b>Exercise Duration Per Day</b></p>
				<canvas id="bar" class="chart chart-bar"
				  chart-data="exercisedata" chart-labels="exerciselabels" chart-colours="exercisecolours">
				</canvas>
				<br>
				<a type="button"  class="btn btn-success pull-right">
					Enter <span class="fa fa-arrow-right"></span>
				</a>
			  </div>
			</div>
		</div>
		
		<div class="col-sm-6">
			<div class="panel panel-primary">
			  <div class="panel-heading">
  			    <div class="panel-title">
  					<h5  style="color:white; margin:0px;">Sleep<span class="pull-right fa fa-bar-chart"></span></h5>
  				</div>
  			  </div>
			  <div class="panel-body">
				 <p class="text-center"><b>Hours Slept Per Day</b></p>
				<canvas id="bar" class="chart chart-bar"
				  chart-data="sleepdata" chart-labels="sleeplabels" chart-colours="sleepcolours">
				</canvas>
				<br>
				<a type="button" ui-sref="sleep" class="btn btn-primary pull-right">
					Enter <span class="fa fa-arrow-right"></span>
				</a>
			  </div>
			</div>
		</div>
		
		
	</div> <!--row-->
	
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-warning">
			  <div class="panel-heading">
  			    <div class="panel-title">
  					<h5  style="color:white; margin:0px;">Alcohol<span class="pull-right fa fa-beer"></span></h5>
  				</div>
			  </div>
			  <div class="panel-body">

				<div class="alert alert-warning" role="alert" ng-show="alcoholData[todayString].results.length >3">
				  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				  <span>Alert: You've had more than 3 drinks today, please be careful!</span>
				</div>
			    <table class="table table-striped table-bordered table-hover" >
			        <thead>
			        <tr>
			            <th>Date</th>
			            <th>Data</th>
			        </tr>
			        </thead>
			        <tbody>
			        <tr ng-repeat="(day,data) in alcoholData | orderBy:'displayDate'">
			            <td><b>{{day| amDateFormat: 'dddd, MMMM Do'}}</b></td>
			            <td>
						
							<table class="table table-bordered table-hover dataTables-example"> 
						        <thead>
							        <tr>
							            <th>Type</th>
							            <th>Amount</th>
										<th>Alcohol by Volume</th>
							        </tr>
						        </thead>
								<tbody>
									<tr ng-repeat="alcohol in data.results">
										<td>{{alcohol.type}}</td>
										<td>{{alcohol.amount}}</td>
										<td>{{alcohol.alcByVol}}</td>
									</tr>
								</tbody>
							</table>
						</td>

			        </tr>
				
			        </tbody>
			    </table>
				
				<br>
				<a type="button" ui-sref="alcohol" class="btn btn-warning pull-right">
					Enter <span class="fa fa-arrow-right"></span>
				</a>
			  </div>
			</div>
		</div>
		
		<div class="col-sm-6">
			<div class="panel panel-danger">
			  <div class="panel-heading">
  			    <div class="panel-title">
  					<h5  style="color:white; margin:0px;">Medicine<span class="pull-right fa fa-heartbeat"></span></h5>
  				</div>
			  </div>
			  <div class="panel-body">
			    
				
				<div ng-repeat="(day,data) in medData">
					<div ng-repeat="med in data.results">
						<div class="alert alert-danger" role="alert" ng-hide="med.taken == 'yes'">
						  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						  <span>Alert: You still have to take your medicine for the day.</span>
						  <br><b>Medicine: {{data.newMed.name}} </b>
						</div>
					
						<div class="alert alert-success" role="alert" ng-show="med.taken == 'yes'">
						  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						  <span>Success: You have already taken your medicine for the day.</span>
						  <br><b>Medicine: {{data.newMed.name}} </b>
						</div>
						
					</div>

				</div>
				
				
				<br>
				<a type="button" ui-sref="medicine" class="btn btn-danger pull-right">
					Enter <span class="fa fa-arrow-right"></span>
				</a>
			  </div>
			</div>
		</div>
		

		
		
	</div> <!--row-->
</div><!--container-->