<br>
<div class="container">
	
	<div class="row">
		<div class="col-sm-6">
			<h3>Welcome to HealthLive!</h3><hr>
			<b>{{"Name: " + $root.user.first_name + " " + $root.user.last_name}}</b><br>
			<b>{{"Email: " + $root.user.email}}</b>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-info">
			  <div class="panel-heading">
			    <div class="panel-title">
					<h5  style="color:white; margin:0px;">Diet<span class="pull-right fa fa-cutlery"></span></h5>
				</div>
			  </div>
			  <div class="panel-body">
				 <p class="text-center"><b>Calories Consumed Per Day</b></p>
				<canvas id="bar" class="chart chart-bar"
				  chart-data="dietdata" chart-labels="dietlabels" chart-colours="dietcolours">
				</canvas>
				
				<br>
				<a type="button" ui-sref="diet" class="btn btn-info pull-right">
					Enter <span class="fa fa-arrow-right"></span>
				</a>
			  </div>
			</div>
		</div>
		
	</div> <!--row-->
	
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-success">
			  <div class="panel-heading">
  			    <div class="panel-title">
  					<h5  style="color:white; margin:0px;">Exercise<span class="pull-right fa fa-bicycle"></span></h5>
  				</div>
  			  </div>
			  <div class="panel-body">
				 <p class="text-center"><b>Exercise Duration Per Day</b></p>
				<canvas id="bar" class="chart chart-bar"
				  chart-data="exercisedata" chart-labels="exerciselabels" chart-colours="exercisecolours">
				</canvas>
				<br>
				<a type="button"  class="btn btn-success pull-right">
					Enter <span class="fa fa-arrow-right"></span>
				</a>
			  </div>
			</div>
		</div>
		
		<div class="col-sm-6">
			<div class="panel panel-primary">
			  <div class="panel-heading">
  			    <div class="panel-title">
  					<h5  style="color:white; margin:0px;">Sleep<span class="pull-right fa fa-bar-chart"></span></h5>
  				</div>
  			  </div>
			  <div class="panel-body">
				 <p class="text-center"><b>Hours Slept Per Day</b></p>
				<canvas id="bar" class="chart chart-bar"
				  chart-data="sleepdata" chart-labels="sleeplabels" chart-colours="sleepcolours">
				</canvas>
				<br>
				<a type="button" ui-sref="sleep" class="btn btn-primary pull-right">
					Enter <span class="fa fa-arrow-right"></span>
				</a>
			  </div>
			</div>
		</div>
		
		
	</div> <!--row-->
	
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-danger">
			  <div class="panel-heading">
  			    <div class="panel-title">
  					<h5  style="color:white; margin:0px;">Medicine<span class="pull-right fa fa-heartbeat"></span></h5>
  				</div>
			  </div>
			  <div class="panel-body">
			    Panel content<br>
				<a type="button" class="btn btn-danger pull-right">
					Enter <span class="fa fa-arrow-right"></span>
				</a>
			  </div>
			</div>
		</div>
		
		<div class="col-sm-6">
			<div class="panel panel-warning">
			  <div class="panel-heading">
  			    <div class="panel-title">
  					<h5  style="color:white; margin:0px;">Alcohol<span class="pull-right fa fa-beer"></span></h5>
  				</div>
			  </div>
			  <div class="panel-body">
			    Panel content<br>
				<a type="button" class="btn btn-warning pull-right">
					Enter <span class="fa fa-arrow-right"></span>
				</a>
			  </div>
			</div>
		</div>
		
		
	</div> <!--row-->
</div><!--container-->