.box{
	clear: both;
	margin-bottom: 25px;
	margin-top: 0;
	padding: 0;
	border-color: #8a979c;
	border-width: 7.5px 7.5px;
	border-style: solid solid none;
	box-shadow: 5px 5px 5px #404547;
}



.box:after, .box:before{
	display: table;
}

.box-title{
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #000033;
	border-image: none;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	vertical-align: middle;
	font-size: 22px;
	text-align: center;
	margin-bottom: 0;
	padding: 14px 15px 7px;
	min-height: 48px;
}

.box-content{
	clear: both;
	background-color: #ffffff;
	color: inherit;
	padding: 15px 20px 20px 20px;
	border-color: #b3c6ff;
	border-image: none;
	border: 5px solid #b3c6ff;
	border-width: 7.5px 7.5px;
	text-align: justify;

}

.buttons{
	clear: both;
	text-transform: uppercase;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	padding-right: 8px;
}

.inbuttons{
	clear: both;
	text-transform: uppercase;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	padding-right: 8px;
}

.wtf{
	background-color: #6699ff;
}