<div class="wrapper wrapper-content animated fadeInRight">	
	<div class="row">
		<div class="col-md-8">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Search for Classes</h5>
					<div class="ibox-tools">
						<!--<span class="fa fa-search"></span>-->
					</div>
				</div>
					
				<div class="ibox-content">
					<input type="text" class="form-control required" ng-model="searchClass" placeholder="Search...">
					<br>	
					
					 
					 <uib-accordion close-others="false">
						<uib-accordion-group is-open="status.open" ng-repeat="course in courses | filter: searchClass" panel-class="panel-default">
						  <uib-accordion-heading>
						    {{course.course_title}}
						    <i class="pull-right fa" ng-class="{'fa-chevron-down': status.open, 'fa-chevron-right': !status.open}"></i>
						    <div class="pull-right">View Details</div>
						  </uib-accordion-heading>
						  <p style="font-size: 14px;">{{course.course_description}}</p>
						  
						  <div class="text-center">
						  	<a class="btn btn-success" href ng-show="!course.enrolled" ng-click="course.enrolled='true'">Enroll</a>
						  </div>
						</uib-accordion-group>
					
					  </uib-accordion>

				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Current Classes</h5>
				</div>
					
				<div class="ibox-content">
<!--					<div class="list-group">
						<div class="list-group-item" ng-repeat="course in courses" ng-show="course.enrolled">
						 	<p>{{course.course_title}}</p>
						</div>
					</div>-->
					
					<table class="table table-bordered table-hover">
						<tbody>
							<tr class="success" ng-repeat="course in studentClasses" ng-show="!course.completed">
								<td>{{course.class}}</td>
							</tr>
						</tbody>
					</table>
					

				</div>
			</div>
		</div>
	</div>
</div>
	
		
<!--			<div class="form-group">
			    <div class="icon-addon addon-md">
			        <input type="text" placeholder="Email" class="form-control" id="email">
			        <label for="email" class="fa fa-search" rel="tooltip" title="email"></label>
			    </div>
			</div>-->
		