

<div class="wrapper wrapper-content">
	<div class="p-w-md">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<h2 class="text-center">My Classes </h2>
				
				<btn class="btn btn-success pull-right" ng-click="addNewClass()">Add New Class</btn><br><br>
				
				
			    <table datatable="" class="table table-striped table-bordered table-hover dataTables-example">
			        <thead>
			        <tr>
			            <th>Class Name</th>
			            <th>Class Description</th>
			            <th>Actions</th>
			        </tr>
			        </thead>
			        <tbody>
			        <tr ng-repeat="class in $root.classes">
			            <td>{{class.className}}</td>
			            <td>{{class.classDescription}}</td>
			            <td>
							<btn class="btn btn-primary btn-sm" ng-click="editClass()">Edit</btn>
							<btn class="btn btn-primary btn-sm">View Students</btn>
						</td>
			        </tr>
					
			        </tbody>
			    </table>
				
				
			</div>
		</div>
	</div>
</div>