<div class="wrapper wrapper-content animated fadeInRight">	
	<div class="p-w-md">
		<div class="row">

			<div class="col-md-6">
				<div class="box float-e-margins">
					<div class="box-title">
						System Summary and Statistics
					</div>
					<div class="box-content">
						<table class="table table-striped table-bordered">
							<tbody>
								<tr ng-repeat="s in stats">
									<td>{{s.title}}</td>
									<td>{{s.count}}</td>
								</tr>
							</tbody>
						</table>
						<div class = "inbuttons">
							<a href="#" class="btn btn-default">View More</a>
						</div>
					</div>
				</div>

				<div class="buttons">
	  				<a href="#" class="btn btn-success">Live</a>
	  				<a href="#" class="btn btn-danger">Locked</a>
				</div>
			</div>

			<div class="col-md-6">
				<div class="box float-e-margins">
					<div class="box-title">
						Mailbox
					</div>
					<div class="box-content">
						<div class="list-group" ng-repeat="m in mail">
							<div class="list-group-item" >
								<div class="">
									<p class="pull-left"><strong>{{m.date}}</strong></p>
									<small class="pull-right">
										<span class="glyphicon glyphicon-time"></span>
										{{m.time}}
									</small>
								</div>
								<br><hr>
								<h2><b>{{m.from}}</b></h2>
								<h4>{{m.subject}}</h4>
								</hr></br>
							</div>
						</div>
					</div>
				</div>

				<div class="box float-e-margins">
					<div class="box-title">
						Announcements
					</div>
					<div class="box-content">
						<div class="list-group" ng-repeat="announ in announcements">
							<div class="list-group-item" >
								<div class="">
									<p class="pull-left"><strong>{{announ.title}}</strong></p>
									<small class="pull-right">
										<span class="glyphicon glyphicon-time"></span>
										{{announ.date}}
									</small>
								</div>
								<br><hr>
								<p>{{announ.content}}</p>
								</hr></br>
							</div>
						</div>
						<div class="inbuttons">
							<a href="#" class="btn btn-success btn-sm">Create</a>
							<a href="#" class="btn btn-success btn-sm">View All</a>
							<a href="#" class="btn btn-success btn-sm">Delete</a>
						</div>
					</div>
				</div>		
			</div>

		</div>
	</div>
</div>

