<div class="wrapper wrapper-content animated fadeInRight">
	<div class="p-w-md">
		<div class="ibox">
			<div class="ibox-content">
				<h3 class="text-center">My Classes</h3>
				<hr>
				<div class="list-group">
					<div class="list-group-item" ng-repeat="course in coursesEnrolled" ng-show="!course.completed">
						<div class="row">
							<div class="col-xs-6">
								<p>{{course.class}}</p>
							</div>
							<div class="col-xs-6">
								<a class="btn btn-success btn-sm pull-right" ng-show="!course.completed">Continue</a>
							</div>
			
						</div><br>
						<div class="row">
							<div class="col-sm-12">
								<p class="text-center">Progress</p>
								<uib-progressbar class="progress active " max="200" value="166" type="default"><i>166 / 200</i></uib-progressbar>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>