<div class="container">
	
	<div class="row">
		<br>
		
		<div class="col-md-5">
			<h3><span class="fa fa-cutlery " style="color:#9c27b0"></span> Diet - Week Overview</h3><br><br>
			<div class="panel panel-default">
				<div class="panel-heading">
					Calories Consumed Per Day
				</div>
				<div class="panel-body">
					<canvas id="bar" class="chart chart-bar"
					  chart-data="data" chart-labels="labels" chart-colours="colours">
					</canvas>
				</div>
			</div>
		</div>
		
		<div class="col-md-7"><br><br>
			
			<button class="btn btn-info pull-right" ng-click="nextWeek()">Next Week</button>
			<button class="btn btn-info" ng-click="lastWeek()"> Previous Week</button><br><br>
		    <table class="table table-striped table-bordered table-hover" >
		        <thead>
		        <tr>
		            <th>Date</th>
		            <th>Data</th>
		        </tr>
		        </thead>
		        <tbody>
		        <tr ng-repeat="(day,data) in mealData | orderBy:'displayDate'">
		            <td><b>{{day| amDateFormat: 'dddd, MMMM Do'}}</b></td>
		            <td>
						<div ng-hide="(calorieMode =='edit' || calorieMode == 'add') && day == editData.displayDate ">
							<b>Calorie Goal:  {{data.calorieGoal[0]}}</b>
							<btn class="btn btn-primary btn-sm" ng-click="calorieEditMode(day,data.calorieGoal[0])"  ><span class="fa fa-edit"></btn>
						</div>
						<div ng-show="(calorieMode =='edit' || calorieMode == 'add') && day == editData.displayDate ">
							<b>Calorie Goal: </b>
							<input type="text" ng-model="editData.calories">
							
							<btn class="btn btn-primary"  ng-show="calorieMode=='edit'" ng-click="saveCalories(day,editData.calories)" ><span class="fa fa-save"></btn>
							<btn class="btn btn-primary" ng-show="calorieMode=='add'" ng-click="addCalories(day,editData.calories)"><span class="fa fa-save"></btn>
						</div>
						<hr>
						
						<table class="table table-striped table-bordered table-hover dataTables-example"> 
					        <thead>
						        <tr>
						            <th>Meal</th>
						            <th>Amount</th>
									<th>Type</th>
									<th>Food or Drink</th>
									<th>Calories</th>
									<th>Edit</th>
						        </tr>
					        </thead>
							<tbody>
								<tr ng-repeat="meal in data.results">
									<td>{{meal.name}}</td>
									<td>{{meal.amount}}</td>
									<td>{{meal.type}}</td>
									<td>{{meal.foodOrDrink}}</td>
									<td>{{meal.calories}}</td>
									<td><button class="btn btn-primary" ng-click="editMode(meal)"><span class="fa fa-edit"></span></button></td>
								</tr>
							</tbody>
						</table>
						
							<div  class="panel panel-default" ng-show="(mode == 'add' || mode =='edit') && day == editData.displayDate ">
								<div class="panel-heading"><span ng-show="mode == 'add'">Add</span><span ng-show="mode == 'edit'">Edit</span></div>
								<div class="panel-body form-inline">
								    <div class="form-group">
								      <label class="col-lg-12 control-label">Date: {{editData.date | date}}</label>
								    </div>
									
									<table class="table table-striped table-bordered">
										<tbody>
											<tr>
												<td>Meal</td>
												<td> <input type="text" class="form-control"  placeholder="Meal" ng-model="editData.name"></td>
											</tr>
											<tr>
												<td>Amount</td>
												<td> <input type="text" class="form-control"  placeholder="Amount" ng-model="editData.amount"></td>
											</tr>
											<tr>
												<td>Type</td>
												<td> 
												    <select ng-model="editData.type" class="form-control">
												      <option value="breakfast">breakfast</option> 
												      <option value="lunch">lunch</option> 
												      <option value="dinner">dinner</option>
													  <option value="other">other</option>
												    </select>
												
												</td>
											</tr>
											<tr>
												<td>Food or Drink</td>
												<td> 
												    <select ng-model="editData.foodOrDrink" class="form-control">
												      <option value="food">food</option>
												      <option value="drink">drink</option>
												    </select>
												</td>
											</tr>
											<tr>
												<td>Calories</td>
												<td> <input type="text" class="form-control"  placeholder="Calories" ng-model="editData.calories"></td>
											</tr>
										</tbody>
										
									</table>
									
					
									<div class="text-center">
										<btn class="btn btn-success"  ng-show="mode == 'edit'" ng-click="saveData()">Edit</btn>
										<btn class="btn btn-success" ng-show="mode == 'add'" ng-click="addData()">Add</btn>
										<btn class="btn btn-danger"> Cancel </btn>
				
									</div>
								</div>
							</div>
					
						
						<button class="btn btn-success" ng-click="addMode(day)"><span class="fa fa-plus"></span></button>
						
						
					
					</td>

		        </tr>
				
		        </tbody>
		    </table>
		</div>
		


	</div>
</div>