

<div class="wrapper wrapper-content">
	<div class="p-w-md">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<h2 class="text-center" ng-show="classMode == 'add'">Add New Class </h2>
				<h2 class="text-center" ng-show="classMode == 'edit'">Edit Class </h2>
				<br>
				<div class="row">
					<div class="col-lg-2"></div>
					<div class="col-lg-8">
						<form class="form form-horizontal" ng-show="classMode == 'add'" ng-submit="addNewClass(classTemplate)">
					
		  				  <div class="form-group">
		  				    <label  class="col-md-3"><span style="color: red;">*</span> Class ID:</label>
		  				    <div class="col-md-9">
		  				    	<input type="text" data-ng-required = "true" class="form-control required" ng-model="classTemplate.classID" required >
		  				    </div>
		  				  </div>
					
						  <div class="form-group">
						    <label  class="col-md-3"><span style="color: red;">*</span> Class Name:</label>
						    <div class="col-md-9">
						    	<input type="text" data-ng-required = "true" class="form-control required" ng-model="classTemplate.className" required >
						    </div>
						  </div>
				  
						  <div class="form-group">
						    <label class="col-md-3"><span style="color: red;">*</span> Class Description</label>
						    <div class="col-md-9">
						    	<input type="text" data-ng-required = "true" class="form-control required" ng-model="classTemplate.classDescription" required>
						    </div>
						  </div>
			
						    <button type="submit" class="btn btn-info center-block" >Confirm</button>
						</form>
					</div>
				</div>
				<div class="col-lg-2"></div>
				
			</div>
		</div>
	</div>
</div>